Package: vdr-plugin-v8
Version: 0.0.1
Architecture: i386
Maintainer: Kersten Burkhardt <kerstenk@gmail.com>
Installed-Size: 116
Depends: libc6 (>= 2.1.3), libgcc1 (>= 1:4.1.1), libstdc++6 (>= 4.1.1), vdr-abi-1.7.21-yavdr0, libv8-3.1.8.22
Section: video
Priority: extra
Homepage: http://github.com/kersten/vdr-plugin-v8
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>
